h1 Queue
p.lead Here are all the episodes that are still missing subtitles.

div.horizontal-scroll
  table.table
    thead
      tr
        th Added On
        th Title
        th Scene Name
        th Actions
    tbody
      if queue.length < 1
        tr
          td(colspan='4') No items in the queue.
      else
        for item in queue
          tr
            td #{item.createdAtFormatted()}
            td #{item.title}
            td #{item.sceneName}
            td
              i(data-id=item._id).search.fa.fa-search
              i(data-id=item._id).delete.fa.fa-trash
